body {
    background-color: #E5E5E5;
    /* padding: 10px; */
}

.container {
    width: 1440px;
    height: 1128px;
    position: relative;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 0px auto;
}

.form {
    position: absolute;
    left: 179px;
    top: 147px;
    width: 563px;
    height: 575px;
    justify-content: center;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #FFFFFF;
}

.main-title {
    color: #3E3E3E;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    margin-top: 0px;
    margin-bottom: 32px;
}

textarea {
    width: 557px;
    height: 189px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 30px 45px;
    margin-bottom: 23px;
}

.form-text {

}

.input {
    width: 557px;
    height: 93px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 30px 45px;
    margin-bottom: 8px;
}

.form-comment {
    width: 557px;
    height: 189px;
}

.form-button {
    background: #FAD34F;
    border-radius: 500px;
    width: 218px;
    height: 73px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    border: none;
    cursor: pointer;
}

.icon-map {
    position: absolute;
    background-image: url(../images/map.svg);
    width: 976px;
    height: 976px;
    background-repeat: no-repeat;
    top: -52px;
    left: 814px;
    border-radius: 50%;
    background-size: contain;
    overflow: hidden;
    z-index: 2;
}

.icon-smile-1 {
    width: 127px;
    height: 127px;
    position: absolute;
    top: 0px;
    left: 50px;
}

.icon-smile-2 {
    width: 127px;
    height: 150px;
    position: absolute;
    top: -15px;
    left: 1230px;
}

.icon-smile-3 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 570px;
    left: 800px;
    z-index: 3;
}

.icon-smile-4 {
    width: 127px;
    height: 127px;
    position: absolute;
    top: 60px;
    left: 1350px;
}

.icon-smile-5 {
    z-index: 3;
    width: 127px;
    height: 127px;
    position: absolute;
    top: 570px;
    left: 800px;
}

.icon-smile-6 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -30px;
    left: 30px;
}

.cloud-1 {
    position: absolute;
    height: 164px;
    width: 218px;
    left: 775px;
    top: 101px;
    fill: #C6C6C6;
    opacity: 0.08;
}

.cloud-2 {
    position: absolute;
    height: 103px;
    width: 138px;
    left: 616px;
    top: 131px;
    fill: #C6C6C6;
    opacity: 0.08;
}

.cloud-3 {
    position: absolute;
    height: 129px;
    width: 172px;
    left: 693px;
    top: 256px;
    fill: #C6C6C6;
    opacity: 0.08;
}

.cloud-4 {
    position: absolute;
    height: 184px;
    width: 245px;
    left: -69px;
    top: 185px;
    fill: #C6C6C6;
    opacity: 0.08;
}

.cloud-5 {
    position: absolute;
    height: 164px;
    width: 218px;
    left: -92px;
    top: 400px;
    fill: #C6C6C6;
    opacity: 0.08;
}

.cloud-6 {
    position: absolute;
    height: 99px;
    width: 131px;
    left: 101px;
    top: 689px; 
    fill: #C6C6C6;
    opacity: 0.08;
}

.cloud-7 {
    position: absolute;
    height: 216px;
    width: 288px;
    left: 141px;
    top: 761px;
    fill: #C6C6C6;
    opacity: 0.08;
}

.cloud-8 {
    position: absolute;
    height: 164px;
    width: 218px;
    left: 343px;
    top: 626px;
    fill: #C6C6C6;
    opacity: 0.08;
}

.cloud-9 {
    position: absolute;
    height: 128px;
    width: 169px;
    left: 731px;
    top: 746px;
    fill: #C6C6C6;
    opacity: 0.08;
}

.ellipse {
    position: absolute;
    fill: #FAD34F;
    top: 21px;
    left: 714px;
    width: 87px;
    height: 87px;
    opacity: 0.1;
}

                                                            /* footer */

.footer-container {
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    width: 1440px;
    height: 200px;
    background-color: #FAFAFA;
    border: 1px solid #D8D8D8;
    padding-top: 80px;
    padding-left: 343px;
}

.icon-list {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 127px;
    height: 16px;
}

.icon-item {

}

.icon-item svg {
    width: 15px;
    height: 15px;
}