body {
    background-color: #E5E5E5;
    /* padding: 10px; */
}

.container {
    width: 1440px;
    height: 1128px;
    position: relative;
    background-color: #FFFFFF;
    overflow: hidden;
}

.form {
    position: absolute;
    left: 179px;
    top: 147px;
    width: 563px;
    height: 575px;
    justify-content: center;
    outline: blue solid 1px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #FFFFFF;
}

.main-title {
    color: #3E3E3E;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    margin-top: 0px;
    margin-bottom: 32px;
}

textarea {
    width: 557px;
    height: 189px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 30px 45px;
    margin-bottom: 23px;
}

.form-text {

}

.input {
    width: 557px;
    height: 93px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 30px 45px;
    margin-bottom: 8px;
}

.form-comment {
    width: 557px;
    height: 189px;
}

.form-button {
    background: #FAD34F;
    border-radius: 500px;
    width: 218px;
    height: 73px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    border: none;
}

.icon-map {
    position: absolute;
    background-image: url(../images/map.svg);
    width: 976px;
    height: 976px;
    background-repeat: no-repeat;
    top: -52px;
    left: 814px;
    border-radius: 50%;
    background-size: contain;
    overflow: hidden;
}

.icon-smile-1 {
    width: 188px;
    height: 185px;
    position: absolute;
    top: 0px;
    left: -50px;
}

.icon-smile-2 {
    width: 188px;
    height: 185px;
    position: absolute;
    top: 0px;
    left: 1000px;
}

.icon-smile-3 {
    width: 188px;
    height: 185px;
    position: absolute;
    top: 600px;
    left: 830px;
}

.icon-smile-4 {
    width: 188px;
    height: 185px;
    position: absolute;
    top: 35px;
    left: 1270px;
    z-index: 2;
}

.icon-smile-5 {
    width: 188px;
    height: 185px;
    position: absolute;
    top: 500px;
    left: 700px;
}

.icon-smile-6 {
    width: 188px;
    height: 185px;
    position: absolute;
    top: 0px;
    left: -50px;
}

                                                            /* footer */

.footer-container {
    position: relative;
    overflow: hidden;
    width: 1440px;
    height: 200px;
    background-color: #FAFAFA;
    border: 1px solid #D8D8D8;
    padding-top: 80px;
    padding-left: 343px;
}

.icon-list {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 127px;
    height: 16px;
}

.icon-item {

}

.icon-item svg {
    width: 15px;
    height: 15px;
}